<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white py-3">
                    <h5 class="mb-0">Détails de la règle</h5>
                </div>
                <div class="card-body">

                    <div class="mb-3">
                        <strong class="text-muted">Nom:</strong>
                        <p><%= rule.name %></p>
                    </div>

                    <div class="mb-3">
                        <strong class="text-muted">Type:</strong>
                        <p><%= rule.type %></p>
                    </div>

                    <div class="mb-3">
                        <strong class="text-muted">Description:</strong>
                        <p><%= rule.description || 'N/A' %></p>
                    </div>

                    <div class="mb-3">
                        <strong class="text-muted">Paramètres:</strong>
                        <% if (rule.parameters) { %>
                            <pre><code class="language-json"><%= JSON.stringify(JSON.parse(rule.parameters), null, 2) %></code></pre>
                        <% } else { %>
                            <p>N/A</p>
                        <% } %>
                    </div>

                    <div class="mb-3">
                        <strong class="text-muted">Message d'erreur:</strong>
                        <p><%= rule.message || 'N/A' %></p>
                    </div>

                    <div class="mb-3">
                        <strong class="text-muted">État:</strong>
                        <% if (rule.is_active) { %>
                            <span class="badge bg-success">Active</span>
                        <% } else { %>
                            <span class="badge bg-secondary">Inactive</span>
                        <% } %>
                    </div>


                    <div class="card-footer bg-light py-3 d-flex justify-content-end">
                        <a href="/admin/rules/<%= rule.id %>/edit" class="btn btn-warning me-2">
                          <i class="ti ti-edit me-1"></i> Modifier
                        </a>
                        <button class="btn btn-danger delete-rule" data-id="<%= rule.id %>"  >
                          <i class="ti ti-trash me-1"></i> Supprimer
                        </button>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('javascript') %>
    <%- include('partials/scripts/index.js'); %>